{% macro SideBar() %}
<nav class="sidebar sidebar-navigation">
    <ul>
      <li>
        <img src="{{ url_for('static', filename='img/Logotipo_de_la_Universidad_Nacional_de_Colombia.svg.png') }}" alt="" class="img-fluid" style="width: 50%;">
      </li>
      <!--
      <li>
        <a class="nav-link" href="#Balance del mes">Balance del mes</a>
      </li>
      <li>
        <a class="nav-link" href="#Información general">Información general</a>
      </li>
      <li>
        <a class="nav-link" href="#Información de las fincas">Información de las fincas</a>
      </li>
      <li>
        <a class="nav-link" href="#Información de las compras">Información de las compras</a>
      </li>
      <li>
        <a class="nav-link" href="#Eficiencia">Eficiencia</a>
      </li>
      -->
      <li>
        <a class="nav-link" href="/">Opcion 1</a>
      </li>  
      <!--
      <li>
        <a class="nav-link" href="#about">Gestionar terceros</a>
      </li>
      -->
      <!--
      <li>
        <a class="nav-link" href="#list">Configuración de alertas</a>
      </li>
      -->
      <!--
      <li>
        <a class="nav-link" href="#cta">Gestionar Usuarios</a>
      </li>
      -->
      <li>
        <a class="nav-link" href="#portfolio">Opcion 2</a>
      </li>
      <li>
        <a class="nav-link" href="#portfolio">Opcion 3</a>
      </li>
      <li>
        <a class="nav-link" href="/Manejo-de-Datos-e-Informacion">Opcion 4</a>
      </li>
    </ul>
  </nav>
{% endmacro %}
